<script setup lang="ts">
import { useDialogStore } from "@/stores/dialog";
import { useProductStore } from "@/stores/product";
import type Product from "@/types/Product";
import { onMounted } from "vue";
import ProductDialog from "./ProductDialog.vue";
const productStore = useProductStore();
const dialogStore = useDialogStore();
onMounted(async () => {
  await productStore.getProduct();
});
function deleteProduct(product: Product) {
  dialogStore.dialog = true;
  dialogStore.sendFrom = "product";
  productStore.deleteProductTemp = product;
}
</script>
<template>
  <ProductDialog></ProductDialog>
  <v-btn class="mr-5" @click="productStore.confirmDialog = true">Add New</v-btn>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of productStore.product" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>
          <v-btn @click="productStore.editProduct(item)" class="mr-5"
            >Edit</v-btn
          ><v-btn @click="deleteProduct(item!)">Delete</v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
