<script setup lang="ts">
import { ref } from "vue";
import MainLayOut from "@/layouts/MainLayout.vue";
import FullLayout from "@/layouts/FullLayout.vue";
import LoadingDialog from "./components/LoadingDialog.vue";
import MessageDialog from "./components/MessageDialog.vue";
import ConfirmDelete from "./components/ConfirmDelete.vue";
</script>

<template>
  <component
    :is="$route.meta.layout === 'MainLayout' ? MainLayOut : FullLayout"
  ></component>
  <LoadingDialog></LoadingDialog>
  <MessageDialog></MessageDialog>
  <ConfirmDelete></ConfirmDelete>
</template>

<style scoped></style>
