<script setup lang="ts">
import { useDialogStore } from "@/stores/dialog";
import { useUserStore } from "@/stores/user";
import type User from "@/types/user";
import { onMounted } from "vue";
import userDialog from "./UserDialog.vue";
const userStore = useUserStore();
const dialogStore = useDialogStore();
onMounted(async () => {
  await userStore.getUser();
});
function deleteUser(user: User) {
  console.log(user);
  dialogStore.dialog = true;
  dialogStore.sendFrom = "user";
  userStore.deleteUserTemp = user;
}
</script>
<template>
  <userDialog></userDialog>
  <v-btn class="mr-5" @click="userStore.confirmDialog = true">Add New</v-btn>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Name</th>
        <th>Password</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of userStore.user" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.username }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.password }}</td>
        <td>
          <v-btn @click="userStore.editUser(item)" class="mr-5">Edit</v-btn
          ><v-btn @click="deleteUser(item!)">Delete</v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
